<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet"
          href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="/static/css/words.css">
    <script src="/static/js/words.js"></script>
    <script src="/static/js/recorder.mp3.min.js"></script>
</head>
<body>
<div data-role="page" id="main">
    <div data-role="panel" id="myPanel">
        <p>在一分钟内尽可能多的说出动物的名字。点击“开始录音”开始倒计时。</p>
    </div>
    <div data-role="header" data-position="fixed">
        <h1>问题 5-3</h1>
    </div>
    <div data-role="main" class="ui-content">
        <input type="hidden" id="mocaID" name="mocaID" value="{{ mocaID }}">
        <a href="#myPanel" style="text-decoration: none;">点此查看指导</a>
        <button onclick="startRecording()" id="start"
                class="audio-btn ui-btn ui-icon-recording ui-btn-icon-left ui-corner-all">
            开始录音
        </button>
        <div id="timer">
            <span class="sec">60.00</span><span class="unit">s</span>
        </div>
        <div id="workingArea">
            <img src="/static/images/moca/en/puff.svg" class="working_svg" id="puff_svg">
        </div>
    </div>
    <div data-role="footer" data-position="fixed" style="text-align:center;">
        <a href="{{ hrefNext }}" data-ajax="false"
           class="next ui-btn ui-corner-all ui-shadow ui-icon-carat-r ui-btn-icon-right">下一题</a>
    </div>
</div>
</body>
</html>
