<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet"
          href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="/static/css/abstraction.css">
    <script src="/static/js/abstraction.js"></script>
</head>
<body>
<div data-role="page" id="main">
    <div data-role="panel" id="myPanel">
        <p>解释每一对词语的相似之处。比方说，“香蕉”和“桔子”都属于水果。</p>
    </div>
    <div data-role="header" data-position="fixed">
        <h1>问题 6-1</h1>
    </div>
    <div data-role="main" class="ui-content">
        <input type="hidden" id="mocaID" name="mocaID" value="{{ mocaID }}">
        <a href="#myPanel" style="text-decoration: none;">点此查看指导</a>
        <div class="ui-grid-a">
            <div class="ui-block-a">香蕉</div>
            <div class="ui-block-b">桔子</div>
        </div>
        <div class="ui-grid-solo">
            <div class="ui-block-a"><input type="text" value="它们都是水果" readonly></div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">火车</div>
            <div class="ui-block-b">自行车</div>
        </div>
        <div class="ui-grid-solo">
            <div class="ui-block-a"><input type="text" class="ipt-result"></div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">手表</div>
            <div class="ui-block-b">尺子</div>
        </div>
        <div class="ui-grid-solo">
            <div class="ui-block-a"><input type="text" class="ipt-result"></div>
        </div>
    </div>
    <div data-role="footer" data-position="fixed" style="text-align:center;">
        <a href="{{ hrefNext }}" data-ajax="false" onclick="save('Q6-1')"
           class="next ui-btn ui-corner-all ui-shadow ui-icon-carat-r ui-btn-icon-right">下一题</a>
    </div>
</div>
</body>
</html>
