.sketchpad {
    background: #FFF;
    border-radius: 2px;
    cursor: crosshair;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    margin: 1em auto;
    background-color: #fff;
}

#myCanvas {
    width: 100%;
    text-align: center;
}

#canvas1 {
    background: #FFFFFF center center no-repeat;
}

#photo {
    width: 100px;
    height: 100px;
    margin-top: 1em;
}

#photo img {
    object-fit: contain;
}

