.footerContent {
    text-decoration: none;
    margin: 0 1em;
}

.btn-container {
    width: 100%;
    text-align: center;
}

.ui-block-a {
    line-height: 2;
    text-align: right;
}

.ui-block-b div {
    margin: 0;
    width: 50% !important;
}

.ipt-result {
    width: 50% !important;
}

.ui-grid-a{
    margin: 1em 0;
}