<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet"
          href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="/static/css/delay.css">
    <script src="/static/js/delay.js"></script>
    <script src="/static/js/recorder.mp3.min.js"></script>
</head>
<body>
<div data-role="page" id="main">
    <div data-role="panel" id="myPanel">
        <p>Earlier, you were asked to remember some words. Now, please tell as many as you can remember. Click '<b>Start
            Recording</b>' to start.</p>
        <p>If you cannot remember some words, you can use the hints on the screen. Please tick the hints if they are
            useful for your memory.</p>
    </div>
    <div data-role="header" data-position="fixed">
        <h1>Question 3-2</h1>
    </div>
    <div data-role="main" class="ui-content">
        <input type="hidden" id="mocaID" name="mocaID" value="{{ mocaID }}">
        <a href="#myPanel">Click here for the instruction.</a>
        <div data-role="collapsible" data-mini="true">
            <h1>&nbsp;Hint - Category Cue</h1>
            <p>
            <fieldset data-role="controlgroup" data-mini="true">
                <label for="body1">body part</label>
                <input type="checkbox" name="category" class="face-hint" id="body1" value="body1">
                <label for="fabric1">type of fabric</label>
                <input type="checkbox" name="category" class="velvet-hint" id="fabric1" value="fabric1">
                <label for="building1">type of building</label>
                <input type="checkbox" name="category" class="church-hint" id="building1" value="building1">
                {% if version == "en/8.1" %}
                    <label for="plant1">type of flower</label>
                {% endif %}
                {% if version == "en/8.2" %}
                    <label for="plant1">type of vegetable</label>
                {% endif %}
                {% if version == "en/8.3" %}
                    <label for="plant1">type of fruit</label>
                {% endif %}
                <input type="checkbox" name="category" class="daisy-hint" id="plant1" value="plant1">
                <label for="color1">color</label>
                <input type="checkbox" name="category" class="red-hint" id="color1" value="color1">
            </fieldset>
            </p>
        </div>
        <div data-role="collapsible" data-mini="true">
            <h1>&nbsp;Hint - Multiple Choice</h1>
            <p>
            <fieldset data-role="controlgroup" data-mini="true">
                <label for="body2">leg, face, hand</label>
                <input type="checkbox" name="multiple" class="face-hint" id="body2" value="body2">
                <label for="fabric2">nylon, velvet, cotton</label>
                <input type="checkbox" name="multiple" class="velvet-hint" id="fabric2" value="fabric2">
                <label for="building2">church, school, park</label>
                <input type="checkbox" name="multiple" class="church-hint" id="building2" value="building2">
                {% if version == "en/8.1" %}
                    <label for="plant2">rose, daisy, tulip</label>
                {% endif %}
                {% if version == "en/8.2" %}
                    <label for="plant2">carrot, lettuce, celery</label>
                {% endif %}
                {% if version == "en/8.3" %}
                    <label for="plant2">orange, apple, tomato</label>
                {% endif %}
                <input type="checkbox" name="multiple" class="daisy-hint" id="plant2" value="plant2">
                <label for="color2">red, yellow, white</label>
                <input type="checkbox" name="multiple" class="red-hint" id="color2" value="color2">
            </fieldset>
            </p>
        </div>
        <button onclick="startRecording()" id="start"
                class="audio-btn ui-btn ui-icon-recording ui-btn-icon-left ui-corner-all">
            Start Recording
        </button>
        <button onclick="stopRecording('Q3-2-2')" id="stop" class="audio-btn ui-btn ui-icon-stop ui-btn-icon-left ui-corner-all"
                disabled="true">Stop Recording
        </button>
        <div id="workingArea">
            <img src="/static/images/moca/en/audio.svg" class="working_svg" id="audio_svg">
            <img src="/static/images/moca/en/puff.svg" class="working_svg" id="puff_svg">
        </div>
    </div>
    <div data-role="footer" data-position="fixed" style="text-align:center;">
        <a href="{{ hrefNext }}" data-ajax="false" onclick="save('Q3-2-1')"
           class="next ui-btn ui-corner-all ui-shadow ui-icon-carat-r ui-btn-icon-right">Next
            Question</a>
    </div>
</div>
</body>
</html>
