<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet"
          href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="/static/css/subtraction.css">
    <script src="/static/js/subtraction.js"></script>
</head>
<body>
<div data-role="page" id="main">
    <div data-role="panel" id="myPanel">
        <p>Serial 7 subtraction starting at {% if version == "8.1" %}100{% endif %}{% if version == "8.2" %}
            70{% endif %}{% if version == "8.3" %}60{% endif %}.</p>
    </div>
    <div data-role="header" data-position="fixed">
        <h1>Question 4-4</h1>
    </div>
    <div data-role="main" class="ui-content">
        <input type="hidden" id="mocaID" name="mocaID" value="{{ mocaID }}">
        <a href="#myPanel">Click here for the instruction.</a>
        <div class="ui-grid-a">
            <div class="ui-block-a"><span class="num">{% if version == "8.1" %}100{% endif %}{% if version == "8.2" %}
                70{% endif %}{% if version == "8.3" %}60{% endif %}</span> - 7 =&nbsp;&nbsp;
            </div>
            <div class="ui-block-b"><input type="number" class="ui-mini ipt-result" onchange="setNumber(this.value,1)">
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a"><span class="num">?</span> - 7 =&nbsp;&nbsp;</div>
            <div class="ui-block-b"><input type="number" class="ui-mini ipt-result" onchange="setNumber(this.value,2)">
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a"><span class="num">?</span> - 7 =&nbsp;&nbsp;</div>
            <div class="ui-block-b"><input type="number" class="ui-mini ipt-result" onchange="setNumber(this.value,3)">
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a"><span class="num">?</span> - 7 =&nbsp;&nbsp;</div>
            <div class="ui-block-b"><input type="number" class="ui-mini ipt-result" onchange="setNumber(this.value,4)">
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a"><span class="num">?</span> - 7 =&nbsp;&nbsp;</div>
            <div class="ui-block-b"><input type="number" class="ui-mini ipt-result" onchange="setNumber(this.value,5)">
            </div>
        </div>
    </div>
    <div data-role="footer" data-position="fixed" style="text-align:center;">
        <a href="{{ hrefNext }}" data-ajax="false" onclick="save('Q4-4')"
           class="next ui-btn ui-corner-all ui-shadow ui-icon-carat-r ui-btn-icon-right">Next
            Question</a>
    </div>
</div>
</body>
</html>
