<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet"
          href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="/static/css/abstraction.css">
    <script src="/static/js/abstraction.js"></script>
</head>
<body>
<div data-role="page" id="main">
    <div data-role="panel" id="myPanel">
        <p>Explain what each pair of words has in common. For example, both banana and orange are part of the category
            'Fruits'.</p>
    </div>
    <div data-role="header" data-position="fixed">
        <h1>Question 6-1</h1>
    </div>
    <div data-role="main" class="ui-content">
        <input type="hidden" id="mocaID" name="mocaID" value="{{ mocaID }}">
        <a href="#myPanel">Click here for the instruction.</a>
        <div class="ui-grid-a">
            <div class="ui-block-a">banana</div>
            <div class="ui-block-b">orange</div>
        </div>
        <div class="ui-grid-solo">
            <div class="ui-block-a"><input type="text" value="They both are fruit." readonly></div>
        </div>
        <div class="ui-grid-a">
            {% if version == "8.1" %}
                <div class="ui-block-a">train</div>
                <div class="ui-block-b">bicycle</div>
            {% endif %}
            {% if version == "8.2" %}
                <div class="ui-block-a">bed</div>
                <div class="ui-block-b">table</div>
            {% endif %}
            {% if version == "8.3" %}
                <div class="ui-block-a">hammer</div>
                <div class="ui-block-b">screwdriver</div>
            {% endif %}
        </div>
        <div class="ui-grid-solo">
            <div class="ui-block-a"><input type="text" class="ipt-result"></div>
        </div>
        <div class="ui-grid-a">
            {% if version == "8.1" %}
                <div class="ui-block-a">watch</div>
                <div class="ui-block-b">ruler</div>
            {% endif %}
            {% if version == "8.2" %}
                <div class="ui-block-a">letter</div>
                <div class="ui-block-b">telephone</div>
            {% endif %}
            {% if version == "8.3" %}
                <div class="ui-block-a">matches</div>
                <div class="ui-block-b">lamp</div>
            {% endif %}
        </div>
        <div class="ui-grid-solo">
            <div class="ui-block-a"><input type="text" class="ipt-result"></div>
        </div>
    </div>
    <div data-role="footer" data-position="fixed" style="text-align:center;">
        <a href="{{ hrefNext }}" data-ajax="false" onclick="save('Q6-1')"
           class="next ui-btn ui-corner-all ui-shadow ui-icon-carat-r ui-btn-icon-right">Next
            Question</a>
    </div>
</div>
</body>
</html>
