<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet"
          href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="/static/css/orientation.css">
    <script src="/static/js/orientation.js"></script>
</head>
<body>
<div data-role="page" id="main">
    <div data-role="panel" id="myPanel">
        <p>Input today's date, the name of this place, and which city it is in.</p>
    </div>
    <div data-role="header" data-position="fixed">
        <h1>Question 7-1</h1>
    </div>
    <div data-role="main" class="ui-content">
        <input type="hidden" id="mocaID" name="mocaID" value="{{ mocaID }}">
        <a href="#myPanel">Click here for the instruction.</a>
        <div class="ui-grid-a">
            <div class="ui-block-a">Year</div>
            <div class="ui-block-b"><input type="number" class="ui-mini ipt-result"></div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">Month</div>
            <div class="ui-block-b"><input type="number" class="ui-mini ipt-result"></div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">Date</div>
            <div class="ui-block-b"><input type="number" class="ui-mini ipt-result"></div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">Day</div>
            <div class="ui-block-b"><input class="ui-mini ipt-result" list="dayList">
                <datalist id="dayList">
                    <option value="Monday" label="1">
                    <option value="Tuesday" label="2">
                    <option value="Wednesday" label="3">
                    <option value="Thursday" label="4">
                    <option value="Friday" label="5">
                    <option value="Saturday" label="6">
                    <option value="Sunday" label="7">
                </datalist>
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">Place</div>
            <div class="ui-block-b"><input type="text" class="ui-mini ipt-result"></div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">City</div>
            <div class="ui-block-b"><input type="text" class="ui-mini ipt-result"></div>
        </div>
        <div data-role="popup" id="myPopup1" class="ui-content myPopup" data-position-to="window" data-overlay-theme="b"
             data-dismissible="false">
            <p>You finish the test!</p>
            <p>Jump to menu page in <span class="sec">3</span> seconds...</p>
        </div>
        <div data-role="popup" id="myPopup2" class="ui-content myPopup" data-position-to="window" data-overlay-theme="b"
             data-dismissible="false">
            <p>Something wrong!</p>
            <p>Jump to menu page in <span class="sec">3</span> seconds...</p>
        </div>
    </div>
    <div data-role="footer" data-position="fixed" style="text-align:center;">
        <a href="{{ hrefNext }}" data-ajax="false" onclick="save('Q7-1')"
           class="next ui-btn ui-corner-all ui-shadow ui-icon-carat-r ui-btn-icon-right">Finish</a>
    </div>
</div>
</body>
</html>
