<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>阿尔茨海默症评估与诊断系统 - 后台管理</title>
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js/animatext.min.js"></script>
    <script src="/static/js/doctor.js"></script>
    <link rel="stylesheet" href="/static/css/doctor.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link rel="bookmark" href="/static/images/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="pagebody">
    <div class="banner">
        <div class="left">
            <img src="/static/images/favicon.ico" alt="ADAD"><span class="adad">阿尔茨海默症评估与诊断系统 - 后台管理</span>
        </div>
        <div class="right">
            <ul class="banner-menu">
                <li>用户中心</li>
                <span>|</span>
                <li>选项</li>
                <span>|</span>
                <li>消息</li>
                <span>|</span>
                <li>退出</li>
            </ul>
        </div>
    </div>
    <div>
        <div class="left"></div>
        <div class="right"></div>
    </div>
</div>
</body>
</html>