<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="/static/css/report.css">
    <script src="/static/js/report.js"></script>
</head>
<body>
<input type="hidden" name="age" id="age" value="{{ age }}">
<input type="hidden" name="gender" id="gender" value="{{ gender }}">
<div data-role="page">
    <div data-role="header" data-position="fixed">
        <a href="#"
           class="ui-btn ui-btn-left ui-corner-all ui-shadow ui-icon-arrow-l ui-btn-icon-left ui-btn-icon-notext"
           data-rel="back" data-transition="slide" data-direction="reverse"></a>
        <h1>MRI文本报告</h1>
        <a href="#"
           class="ui-btn ui-btn-right ui-corner-all ui-shadow ui-icon-user ui-btn-icon-left ui-btn-icon-notext"></a>
    </div>
    <div data-role="main" class="ui-content">
        <div class="subtitle">
            <b>上传颅脑MRI文本报告</b>
        </div>
        <div class="subcontent2">
            <input type="file" accept="text/plain" class="ui-mini" onchange="loadText(this)">
            <textarea name="report" id="report" class="ui-mini" required="required"></textarea>
        </div>
        <hr>
        <div class="btn-container">
            <a href="javascript:void(0)" data-role="button" data-inline="true" onclick="reset()">重置</a>
            <a href="javascript:void(0)" data-role="button" data-inline="true" onclick="diagnosis()">诊断</a>
        </div>
    </div>
    <div data-role="popup" id="emptyText" class="ui-content" data-overlay-theme="b">
        <a href="#" data-rel="back"
           class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
        <p>注意：缺少MRI报告。</p>
    </div>
    <div data-role="popup" id="resultPopup" data-overlay-theme="b">
        <p id="result"></p>
    </div>
    <div data-role="footer" data-position="fixed">
        <h1>
            <a class="footerContent" href="#about2" data-rel="popup" data-position-to="window">关于</a>
            <a class="footerContent" href="#contact2" data-rel="popup" data-position-to="window">联系我们</a>
        </h1>
        <div data-role="popup" id="about2" class="ui-content" data-overlay-theme="b">
            <a href="#" data-rel="back"
               class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
            <p>本应用是一个阿尔茨海默症评估与诊断（简称<b>ADAD</b>）工具，主要提供的服务有认知筛查和辅助诊断。</p>
        </div>
        <div data-role="popup" id="contact2" class="ui-content" data-overlay-theme="b">
            <a href="#" data-rel="back"
               class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
            <p><b>地址：</b>上海市松江区人民北路99号</p>
            <p><b>电邮：</b>chen.qian@dhu.edu.cn</p>
        </div>
    </div>
</div>
</body>
</html>